<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Personal Cabinet</title>
    <link rel="stylesheet" th:href="@{/css/css.css}"/>
</head>
<body class="sub_page">
<div class="top_area">
    <!-- header section starts -->
    <div th:insert="header.html"></div>
    <!-- end header section -->
</div>
<!-- personalcabinet section -->
<section class="personalcabinet_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="detail-box">
                    <div class="btn-box">
                        <div sec:authorize="hasAuthority('DOCTOR')">
                            <h3>
                                Doctor personal cabinet
                            </h3>
                            <a class="btn1" th:href="@{/doctor/appointment}">
                                <button>
                                    GO TO APPOINTMENTS
                                </button>
                            </a>
                        </div>
                        <div sec:authorize="hasAuthority('PATIENT')">
                            <h3>
                                Patient personal cabinet
                            </h3>
                            <a class="btn1" th:href="@{/patient/appointment}">
                                <button>
                                    GO TO APPOINTMENTS
                                </button>
                            </a>
                        </div>
                        <div sec:authorize="hasAuthority('ADMIN')">
                            <h3>
                                Admin personal cabinet
                            </h3>
                            <a class="btn1" th:href="@{/admin/appointment}">
                                <button>
                                    GO TO APPOINTMENTS
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end personalcabinet section -->
<div th:insert="footer.html"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>
