<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Personal Cabinet</title>
    <link rel="stylesheet" th:href="@{/css/css.css}"/>
</head>
<body class="sub_page">
<div th:insert="header.html"></div>
<!--    <header class="header_section">-->
<!--        <div class="container">-->
<!--            <nav class="navbar navbar-expand-lg custom_nav-container ">-->
<!--                <a class="navbar-brand" href="index.html"> <span >Hospital System </span> </a>-->

<!--                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                    <span class=""> </span>-->
<!--                </button>-->

<!--                <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                    <ul class="navbar-nav">-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="index.html">Home</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="mainPage.html">Personal cabinet</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item  active">-->
<!--                            <a class="nav-link" href="about.html"> About </a>-->
<!--                        </li>-->
<!--                        <div class="d-flex">-->
<!--                            <button type="button" class="btn btn-outline-light" data-bs-toggle="modal"-->
<!--                                    data-bs-target="#exampleModal">-->
<!--                                Log out-->
<!--                            </button>-->
<!--                        </div>-->

<!--                    </ul>-->
<!--                </div>-->
<!--            </nav>-->
<!--        </div>-->
<!--    </header>-->
<!-- end header section -->
<!-- personalcabinet section -->
<section class="personalcabinet_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <h1>
                        TEXT
                    </h1>
                    <p>
                        text
                    </p>
                    <!--                    <div class="btn-box">-->
                    <!--                        <div sec:authorize="hasAuthority('DOCTOR')">-->
                    <!--                            <a class="btn1" th:href="@{/doctor/appointment}">-->
                    <!--                                <button>-->
                    <!--                                    GO TO APPOINTMENTS-->
                    <!--                                </button>-->
                    <!--                            </a>-->
                    <!--                        </div>-->
                    <!--                        <div sec:authorize="hasAuthority('PATIENT')">-->
                    <!--                            <a class="btn1" th:href="@{/patient/appointment}">-->
                    <!--                                <button>-->
                    <!--                                    GO TO APPOINTMENTS-->
                    <!--                                </button>-->
                    <!--                            </a>-->
                    <!--                        </div>-->
                    <!--                        <div sec:authorize="hasAuthority('ADMIN')">-->
                    <!--                            <a class="btn1" th:href="@{/admin/appointment}">-->
                    <!--                                <button>-->
                    <!--                                    GO TO APPOINTMENTS-->
                    <!--                                </button>-->
                    <!--                            </a>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end personalcabinet section -->

<div th:insert="footer.html"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>
