<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Main page</title>
</head>
<body>
<div th:insert ="header.html">
</div>
    <div class="container">
    </div>
    <div class="row mx-3 pt-4 gx-5">
        <div class="d-flex justify-content-center fs-4" th:text='Welcome'>
        </div>
        <div class="col-md-auto mt-4">
            <div class="fs-5">
                taskDescriprion
            </div>
        </div>
    </div>
</body>
</html>