<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Edit treatment</title>
</head>
<body class="sub_page">
<div class="top_area">
  <!-- header section starts -->
  <div th:insert="header.html"></div>
  <!-- end header section -->
</div>
<div class="container">
  <div class="d-flex justify-content-center pt-4 mt-3 fs-4">
    Treatment:
  </div>
  <div class="d-flex justify-content-center pt-3">
    <form th:action="@{/doctor/treatment/edit/{treatmentId}(treatmentId=${treatment.id})}" th:object="${treatment}" method="post">
      <div class="mb-3">
        <label class="form-label">
          <p th:text="${'Patient: ' + treatment.patient.firstName + ' ' + treatment.patient.secondName }"/>
        </label>
      </div>
      <div class="mb-3">
        <label class="form-label">
          <p th:text="${'Doctor: ' + treatment.doctor.userFirstName + ' ' + treatment.doctor.userSecondName }"/>
        </label>
      </div>
      <div class="mb-3">
        <label class="form-label">
          <p th:text="${'Treatment start date: ' + #dates.format(treatment.startOfTreatment, 'MM/dd/yyyy')}"/>
        </label>
      </div>
      <div class="mb-3">
        <label for="treatmentEndDate" class="form-label">
          Input the date of treatment end:
        </label>
        <input type="date" th:field="*{endOfTreatment}" class="form-control" id="treatmentEndDate">
        <span th:if="${#fields.hasErrors('endOfTreatment')}" th:text="${'some error'}" th:errors="*{endOfTreatment}" style="color: red"></span>
      </div>
      <div class="mb-3">
        <label class="form-label">
          Diagnoses:
        </label>
          <div th:each="diagnose: ${treatment.diagnoses}">
            <p th:text="${diagnose.name}"></p>
          </div>
        <p></p><a th:href="@{/doctor/treatment/diagnose/{treatmentId}(treatmentId=${treatment.id})}"
           class="btn btn-success">Manage diagnoses</a></p>
      </div>
      <div class="mb-3">
        <label for="chamber" class="form-label">
          Input a chamber number the patient was lying:
        </label>
        <input type="number" min="1" th:field="*{chamber}" class="form-control" id="chamber">
        <span th:if="${#fields.hasErrors('chamber')}" th:errors="*{chamber}" style="color: red"></span>
      </div>
      <div class="mb-3">
        <label for="treatmentMethods" class="form-label">
          Input treatment methods:
        </label>
        <input type="text" th:field="*{methodsOfTreatment}" class="form-control" id="treatmentMethods">
        <span th:if="${#fields.hasErrors('methodsOfTreatment')}"
              th:errors="*{methodsOfTreatment}" style="color: red"></span>
      </div>
      <button type="submit" class="btn btn-success">Edit
      </button>
    </form>
  </div>
</div>
</body>
</html>