<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Edit treatment</title>
</head>
<body>

<div class="container">
  <div class="d-flex justify-content-center pt-4 mt-3 fs-4">
    Treatment:
  </div>
  <div class="d-flex justify-content-center pt-3">
    <form th:action="@{/doctor/treatment/edit}" th:object="${treatment}" method="post">
      <input type="hidden" th:field="*{id}">
      <input type="hidden" th:field="*{patient}" th:value="${treatment.patient}">
      <input type="hidden" th:field="*{doctor}">

      <div class="mb-3">
        <label class="form-label">
          <p th:text="${'Patient: ' + treatment.patient.firstName + ' ' + treatment.patient.secondName }"/>
        </label>
      </div>
      <div class="mb-3">
        <label class="form-label">
          <p th:text="${'Doctor: ' + treatment.doctor.userFirstName + ' ' + treatment.doctor.userSecondName }"/>
        </label>
      </div>
      <div class="mb-3">
        <label class="form-label">
          <p th:text="${'Treatment start date: ' + #dates.format(treatment.startOfTreatment, 'MM/dd/yyyy')}"/>
        </label>
      </div>
      <div class="mb-3">
        <label for="treatmentEndDate" class="form-label">
          Input the date of treatment end:
        </label>
        <input type="date" th:field="*{endOfTreatment}" class="form-control" id="treatmentEndDate">
        <span th:if="${#fields.hasErrors('endOfTreatment')}"
              th:errors="*{endOfTreatment}" style="color: red"></span>
      </div>
<!--      <div class="mb-3">-->
<!--        <label for="inputPatronymic" class="form-label">-->
<!--          Input your patronymic-->
<!--        </label>-->
<!--        <input type="text" th:field="*{patronymic}" class="form-control" id="inputPatronymic"-->
<!--               placeholder="patronymic">-->
<!--        <span th:if="${#fields.hasErrors('patronymic')}"-->
<!--              th:errors="*{patronymic}" style="color: red"></span>-->
<!--      </div>-->
<!--      <div class="mb-3">-->
<!--        <label for="inputAddress" class="form-label">-->
<!--          Input your address-->
<!--        </label>-->
<!--        <input type="text" th:field="*{address}" class="form-control" id="inputAddress"-->
<!--               placeholder="address">-->
<!--        <span th:if="${#fields.hasErrors('address')}"-->
<!--              th:errors="*{address}" style="color: red"></span>-->
<!--      </div>-->
<!--      <div class="mb-3">-->
<!--        <label for="inputPhone" class="form-label">-->
<!--          Input your phone number-->
<!--        </label>-->
<!--        <input type="text" th:field="*{phone}" class="form-control" id="inputPhone"-->
<!--               placeholder="+00(00)-00-00-000">-->

<!--        <span th:if="${#fields.hasErrors('phone')}"-->
<!--              th:errors="*{phone}" style="color: red"></span>-->
<!--      </div>-->
<!--      <div class="mb-3">-->
<!--        <label for="inputDateOfBirth" class="form-label">-->
<!--          Input your date of birth-->
<!--        </label>-->
<!--        <input type="date" th:field="*{dateOfBirth}" class="form-control" id="inputDateOfBirth"-->
<!--               placeholder="01-01-2000">-->
<!--        <span th:if="${#fields.hasErrors('dateOfBirth')}"-->
<!--              th:errors="*{dateOfBirth}" style="color: red"></span>-->
<!--      </div>-->
      <button type="submit" class="btn btn-primary">Submit
      </button>
    </form>
  </div>
</div>
</body>
</html>